<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2020 CEA
    This program and the accompanying materials are made available under the 
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.
   
 * SPDX-License-Identifier: EPL-2.0
 * Contributors: see AUTHORS file
 -->

<plugin>
	<!-- Shortcut on nablagen files to launch interpreter -->
	<extension
		point="org.eclipse.debug.ui.launchShortcuts">
		<shortcut
			class="fr.cea.nabla.ui.graalvm.NablaGraalVMExecutableExtensionFactory:fr.cea.nabla.ui.graalvm.launchconfig.NablaShortcut"
			icon="icons/Nablagen.gif"
			id="fr.cea.nabla.ui.graalvm.launchconfig.NablaShortcut"
			label="Start Truffle-Based Interpretation"
			modes="run">
			<contextualLaunch>
				<enablement>
					<with variable="selection">
						<count value="1"/>
						<iterate>
							<adapt type="org.eclipse.core.resources.IResource">
								<and>
									<test property="org.eclipse.core.resources.extension" value="ngen">
									</test>
								</and>
							</adapt>
						</iterate>
					</with>
				</enablement>
			</contextualLaunch>
			<configurationType
				id="fr.cea.nabla.ui.graalvm.launchconfig.NablaLaunchConfigurationType">
			</configurationType>
		</shortcut>
	</extension>
	
	<!-- Launch configuration for nabla interpreter -->
	<extension
		point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			delegate="fr.cea.nabla.ui.graalvm.NablaGraalVMExecutableExtensionFactory:fr.cea.nabla.ui.graalvm.launchconfig.NablaLaunchConfigurationDelegate"
			id="fr.cea.nabla.ui.graalvm.launchconfig.NablaLaunchConfigurationType"
			modes="run, debug"
			name="NabLab Truffle-Based Interpreter Launch">
		</launchConfigurationType>
	</extension>
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="fr.cea.nabla.ui.graalvm.NablaGraalVMExecutableExtensionFactory:fr.cea.nabla.ui.graalvm.launchconfig.NablaLaunchConfigurationTabGroup"
			id="fr.cea.nabla.ui.graalvm.launchconfig.NablaLaunchConfigurationTabGroup"
			type="fr.cea.nabla.ui.graalvm.launchconfig.NablaLaunchConfigurationType">
		</launchConfigurationTabGroup>
	</extension>
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
				id="fr.cea.nabla.ui.graalvm.launchconfig.NablaLaunchConfigurationTypeImage"
				configTypeID="fr.cea.nabla.ui.graalvm.launchconfig.NablaLaunchConfigurationType"
				icon="icons/Nablagen.gif">
		</launchConfigurationTypeImage>
	</extension>
 <extension
       point="org.gemoc.monilog.appender">
    <appender
          class="fr.cea.nabla.ui.graalvm.NablaGraalVMExecutableExtensionFactory:fr.cea.nabla.monilog.nablalib.NabLabConsoleAppender"
          specificationFile="/nablab-moniloglib.mnlg">
    </appender>
 </extension>
	
	<!-- NabLab Console appender for MoniLog -->
</plugin>
